*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

:root{
    --resp-primary: rgba(0, 135, 255, 1);
    --resp-bg: rgba(152, 146, 234, 1);
    --resp-card: rgba(170, 223, 255, 1);
    --resp-fred: rgba(253, 186, 92, 1);
    --resp-dark: rgba(51, 51, 51, 1);
}

.container{
    padding: 1.5rem;
}

/* #region header */
nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--resp-primary);
    color: white;
}

/* #endregion header */

/* #region main */
.col-12{
    width: 100%;
    min-height: 300px;
    border: 1px dashed;
}
.card{
    width: 90%;
    min-height: 280px;
    margin: auto;
    border: 1px solid;
    border-radius: 1rem;
    background-color: var(--resp-card);
}

/* end demo */
.planning{
    background-color: var(--resp-bg);

}

/* end planning */
.testimonials{
    text-align: center;
}

/* end testimonials */

.benefits{
    background-color: var(--resp-bg);
    text-align: center;
}

/* end benefits */



/* end about-us */

.get-started{
    background-color: var(--resp-bg);
    text-align: center;
}



/* end get-started */

/* #endregion main */

/* #region footer */

footer{
    background-color: var(--resp-dark);
    color: white;
}

/* #endregion footer */