* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

:root {
    --resp-primary: rgba(0, 135, 255, 1);
    --resp-bg: rgba(152, 146, 234, 1);
    --resp-card: rgba(170, 223, 255, 1);
    --resp-fred: rgba(253, 186, 92, 1);
    --resp-dark: rgba(51, 51, 51, 1);
}

.container {
    padding: 1rem;
}

.row {
    width: 100%;
}


/* #region header */

nav {
    background-color: var(--resp-primary);
}

nav>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.alternative-right{
    display: none;
    

    & > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 1.5rem;
    }

    & a{
        text-decoration: none;
        color: white;
    }

    & .start{
        background-color: white;
        border-radius: 5rem;
        padding: 0.5rem;
    }
}


/* #endregion header */

/* #region main */

.col-12 {
    width: 100%;
    min-height: 300px;
    border: 1px dashed;
}

.card {
    width: 100%;
    min-height: 280px;
    margin: auto;
    border: 1px solid;
    border-radius: 1rem;
    background-color: var(--resp-card);
}

/* end demo */
.planning {
    background-color: var(--resp-bg);

}

/* end planning */
.testimonials {
    text-align: center;
}

/* end testimonials */

.benefits {
    background-color: var(--resp-bg);
    text-align: center;
}

/* end benefits */

.about-us{
    text-align: center;
}


/* end about-us */

.get-started {
    background-color: var(--resp-bg);
    text-align: center;
}



/* end get-started */

/* #endregion main */

/* #region footer */

footer {
    background-color: var(--resp-dark);
    color: white;
    text-align: center;
}

/* #endregion footer */


/* #region media query */
@media screen and (min-width: 768px) {

    .demo .row {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits .row {
        display: flex;
        flex-wrap: wrap;
    }

    .about-us .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-4 {
        width: calc((100% / 12) * 4);
    }

    .col-8 {
        width: calc((100% / 12) * 8);
    }

    .col-6 {
        width: calc((100% / 12) * 6);
    }

}

@media screen and (min-width: 992px) {
    .col-4 {
        width: calc((100% / 12) * 4);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
        margin: auto;
    }

    .right{
        display: none;
    }

    .alternative-right{
        display: block;
    }

    .planning .row{
        display: flex;
        flex-wrap: wrap;
    }

    .col-6{
        width: calc((100% / 12) * 6);
    }
}



/* #endregion media query */