* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

:root {
    --resp-primary: rgba(0, 135, 255, 1);
    --resp-bg: rgba(152, 146, 234, 1);
    --resp-card: rgba(170, 223, 255, 1);
    --resp-fred: rgba(253, 186, 92, 1);
    --resp-dark: rgba(51, 51, 51, 1);
}

.container {
    padding: 1rem;
}

.row {
    width: 100%;
}


/* #region header */

nav {
    background-color: var(--resp-primary);
}

nav>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.alternative-right {
    display: none;


    &>ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 1.5rem;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & .start {
        background-color: white;
        border-radius: 5rem;
        padding: 0.5rem;
    }
}


/* #endregion header */

/* #region main */

.col-12 {
    width: 100%;
    min-height: 300px;
    border: 1px dashed;
}

.card {
    width: 100%;
    min-height: 280px;
    margin: auto;
    border: 1px solid;
    border-radius: 1rem;
    text-align: center;
}

/* end common */
.demo .card {
    background-color: var(--resp-card);
    padding: 1rem;
}

.demo .logo {
    color: var(--resp-primary);
    font-size: 5rem;
}

.demo h4 {
    color: var(--resp-primary);
}

/* end demo */
.planning {
    background-color: var(--resp-bg);

}

/* end planning */
.testimonials {
    text-align: center;
}

.testimonials .card{
    background-color: var(--resp-bg);
    color: white;
}

.testimonials h2 {
    color: var(--resp-bg);
}

.benefits {
    background-color: var(--resp-bg);
    text-align: center;
}

.testimonials img {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}

/* end testimonials */

.benefits h3{
    color: white;
}

.benefits .card{
    background-color: white;
    text-align: start;
    padding: 1.5rem;
    line-height: 2rem;

    & > h2{
        color: var(--resp-bg);
    }

    & > h4{
        color: var(--resp-bg);
    }

    &>a{
        text-decoration: none;
        color: white;
        background-color: var(--resp-bg);
        border-radius: 1rem;
        padding: 0.25rem 2rem;
    }

}


/* end benefits */


.about-us h3{
    color: var(--resp-bg);
}

.about-us img{
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
}

.about-us h4{
    color: var(--resp-bg);
}

.about-us a{
    color: white;
    text-decoration: none;
    background-color: var(--resp-bg);
    padding: 0.25rem;
    border-radius: 1rem;
}

/* end about-us */

.get-started {
    background-color: var(--resp-bg);
    text-align: center;
}



/* end get-started */

/* #endregion main */

/* #region footer */

footer {
    background-color: var(--resp-dark);
    color: white;
    text-align: center;
}

/* #endregion footer */


/* #region media query */
@media screen and (min-width: 768px) {

    .demo .row {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits .row {
        display: flex;
        flex-wrap: wrap;
    }

    .about-us .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-sm-4 {
        width: calc((100% / 12) * 4);
    }

    .col-sm-8 {
        width: calc((100% / 12) * 8);
    }

    .col-sm-6 {
        width: calc((100% / 12) * 6);
    }

}

@media screen and (min-width: 992px) {
    .col-md-4 {
        width: calc((100% / 12) * 4);
    }

    .col-md-8 {
        width: calc((100% / 12) * 8);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 70%;
        margin: auto;
    }

    .right {
        display: none;
    }

    .alternative-right {
        display: block;
    }

    .planning .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-6 {
        width: calc((100% / 12) * 6);
    }
}



/* #endregion media query */